<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Daily Rolling File Appender that compresses old files -->
    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/my.log</file>
        <rollingPolicy name="file"
                       class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/my.log.%d{yyyy-MM-dd}.log.zip
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%t] %d %c[%p]: %m%n</pattern>
        </encoder>
    </appender>

    <!--log的作用范围,可以添加sql的打印信息-->
    <!-- 	<logger name="com.h3c.smsmw" level="INFO">
            <appender-ref ref="file" />
        </logger> -->
    <logger name="com.rty.springboot.web.mapper" level="DEBUG"/>
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>
</configuration>