<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.rty.springboot.web.mapper.skb.RuleMapper">

    <select id="queryRuleInfos" resultType="com.rty.springboot.bean.RuleInfoBean">
        select
        RULE_NAME ruleName,
        TOOL tool,
        LANGUAGE language
        from
        t_skb_rule_info
    </select>

</mapper>